<nav>
    <div>
        <h3 class="text--h3"><span id="name">Michele</span> <span id="surname">Invernizzi</span></h3>
        <h4 class="text--h4"><span id="interaction">interaction</span> <span class="show--big">&#x27f7</span> <span class="show--small">and</span> <span id="information">information</span> designer</h4>
    </div>
    {% if include.layout == 'project' %}
    <h5><span class="sr-only">Showcasing project:</span> {{ include.title }}</h5>
    {% endif %}
    <ul aria-label="Other pages in this portfolio:">
        <li><a href="{{ '/' | relative_url }}" {% if page.url == '/' %}class="link--active"{% endif %}> <span class="show--big">Selected p</span><span class="show--small">P</span>rojects</a></li>
        <li><a href="{{ '/about' | relative_url }}" {% if page.url == '/about.html' %}class="link--active"{% endif %}>About</a></li>
    </ul>
</nav>