nav {
    position: fixed;
    width: calc(100% - var(--margin) * 2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

nav > div {
    max-width: 60%;
}

nav h3 span {
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

nav h4 {
    font-size: 16px;
    font-variation-settings: 'wght' var(--font-regular);
}

nav h4 span {
    position: relative;
    -webkit-transition: left 0.4s ease;
    transition: left 0.4s ease;
}

nav h5 {
    position: absolute;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    z-index: -1;
}

nav h5.title--shown {
    opacity: 0;
}

nav ul {
    list-style: none;
    text-align: right;
}

nav a {
    -webkit-transition: font-variation-settings 0.3s;
    transition: font-variation-settings 0.3s;
}

nav a:hover {
    font-variation-settings: 'wght' var(--font-bold);
}

nav a.link--active {
    font-variation-settings: 'wght' var(--font-bold);
}

/* big phones  onward*/
@media (min-width: 576px) {
    nav h5.title--shown {
        opacity: 1;
    }
}