nav {
    position: fixed;
    width: calc(100% - var(--margin) * 2);
    display: flex;
    justify-content: space-between;
}

nav h4 {
    font-size: 16px;
    font-variation-settings: 'wght' var(--font-regular);
}

nav h5 {
    opacity: 0;
}

nav ul {
    list-style: none;
    text-align: right;
}

nav a {
    transition: font-variation-settings 0.3s;
}

nav a:hover {
    font-variation-settings: 'wght' var(--font-bold);
}

nav a.link--active {
    font-variation-settings: 'wght' var(--font-bold);
}