main {
    --main-height: calc(85vh - var(--margin-optimized) - var(--margin) - 20vh);
    width: 100%;
    height: var(--main-height);
    padding-top: 20vh;
    display: grid;
    grid-template-columns: 116%;
    grid-template-rows: 1fr;
}

.base__regular {
    font-variation-settings: 'wght' var(--font-regular);
}

.base__bold {
    font-variation-settings: 'wght' var(--font-bold);
}

.base__italic {
    font-style: italic;
}

.base__emoji {
    font-size: 1.15rem;
}

.base__line {
    fill: none;
    stroke: var(--color-dark);
}

.base__line.line--dashed {
    stroke-dasharray: 6, 6;
}

.base__line.line--thick {
    stroke-width: 3px;
}

svg.base__interests {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.base__trees {
    -webkit-transform: translate(-102px, 6px);
            transform: translate(-102px, 6px);
}

.base__second-part {
    -webkit-transform: translate(-190px, 0);
            transform: translate(-190px, 0);
}

g.lower--small {
    -webkit-transform: translate(0, 19.2px);
            transform: translate(0, 19.2px);
}

.interests,
.base__plans,
.plans,
.about__card {
    display: none;
}

.activities {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 6rem;
}

.activities__column {
    width: 100%;
}

.activities__column h3 {
    margin-bottom: 1rem;
}

.activities__column ul {
    list-style: none;
    margin-bottom: 3rem;
}

.activities__column li {
    margin: 0.6rem 0;
}

.activities__column p {
    margin: 0.1rem 0;
}

.activity__info {
    font-style: italic;
}

.activities__column .activity__link {
    margin: 1.2rem 0;
}

.activities__column a {
    margin-right: 0.5rem;
    padding: 0.4rem 0.6rem;
}

.activities__column a:hover {
    background-color: var(--color-dark);
    color: var(--color-light);
}

.activities__column .external--link {
    border: 1px solid var(--color-dark);
    border-radius: 2px;
}

footer {
    margin-top: 1.2rem;
}

footer p {
    font-size: 0.9rem;
    margin: 0;
}

/* big phones */
@media (min-width: 576px) {
    main {
        --main-height: 585px;
        padding-top: 12rem;
        grid-template-columns: 1fr 500px 1fr;
    }
    svg.base__interests {
        height: 100%;
        grid-column: 2 / span 1;
    }
    .base__trees {
        -webkit-transform: translate(-67px, 6px);
                transform: translate(-67px, 6px);
    }
    
    .base__second-part {
        -webkit-transform: translate(-120px, 0);
                transform: translate(-120px, 0);
    }
    .activities {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        margin-top: calc(100vh - 585px - var(--margin-optimized) - var(--margin) - 6rem);
    }
    .activities__column {
        width: 292px;
        margin-right: calc((100% - 24% * 3) / 3 );
    }
}

/* tablets */
@media (min-width: 768px) {
    main {
        --main-height: 585px;
        grid-template-columns: 72% 28%;
    }
    .interests,
    .base__plans,
    .plans,
    .about__card {
        display: block;
    }

    g.lower--small {
        -webkit-transform: translate(0,0);
                transform: translate(0,0);
    }

    tspan.show--small {
        display: none;
    }

    svg.base__interests,
    svg.interests {
        height: 100%;
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    .interests__special {
        -webkit-transform: translate(-70px, -14px);
                transform: translate(-70px, -14px);
    }
    
    .interests__second-part {
        -webkit-transform: translate(-120px, 0);
                transform: translate(-120px, 0);
    }
    
    .interests__notes {
        fill: var(--color-red);
    }
    
    .line--red {
        fill: none;
        stroke: var(--color-red);
    }
    
    svg.base__plans,
    svg.plans {
        height: 100%;
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
    }
    
    .plans__notes {
        fill: var(--color-blue);
    }
    
    .plans__notes.strike {
        text-decoration: line-through;
    }
    
    svg.interests,
    svg.plans {
        will-change: clip-path;
    }
    
    .about__card {
        --margin-card: calc(var(--margin) / 2);
        position: absolute;
        height: var(--main-height);
        cursor: -webkit-grab;
        cursor: grab;
        border: 1px solid var(--color-dark);
        border-radius: 2px;
        -webkit-box-shadow: 0px 4px 8px rgba(142,142,142,0.5);
                box-shadow: 0px 4px 8px rgba(142,142,142,0.5);
        -webkit-transform-origin: top left;
                transform-origin: top left;
        -webkit-transform: rotate(10deg);
                transform: rotate(10deg);
    }
    
    .about__card.card--moving {
        cursor: -webkit-grabbing;
        cursor: grabbing;
    }
    
    .card__interests {
        width: var(--main-height);
        top: 15rem;
        left: -479px;
    }
    
    .card__plans {
        width: calc(var(--main-height) / 2);
        top: -21rem;
        right: -300px;
    }
    
    .about__card h3 {
        position: absolute;
    }
    
    .card__interests h3 {
        top: var(--margin-card);
        right: calc(var(--margin-card) * 1.25);
        color: var(--color-red);
    }
    
    .card__plans h3 {
        bottom: var(--margin-card);
        left: calc(var(--margin-card) * 1.25);
        color: var(--color-blue);
    }
    
    .about__card h3::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    
    .card__interests h3::after {
        border-bottom: 2px solid var(--color-red);
    }
    
    .card__plans h3::after {
        border-bottom: 2px solid var(--color-blue);
    }
    .activities {
        margin-top: 9rem;
    }
    footer {
        margin-top: 0;
    }
}

/* desktops */
@media (min-width: 992px) {
    .activities__column {
        width: 345px;
        margin-right: calc((100% - 24% * 3) / 3 );
    }
    .activities__column:first-child {
        margin-left: 220px;
    }
    .card__plans {
        top: -30rem;
    }
}

/* big desktops */
@media (min-width: 1200px) {
    main {
        --main-height: 715px;
        padding-top: 6rem;
        grid-template-columns: 64% 36%;
    }
    .card__plans {
        top: 4.5rem;
        right: -315px;
    }
    .base__trees {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }
    .base__second-part {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }
    .interests__special {
        -webkit-transform: translate(0,0);
                transform: translate(0,0);
    }
    .interests__second-part {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }
    .card__interests {
        top: 12rem;
        left: -575px;
    }
    .activities {
        margin-top: 10rem;
    }
    .activities__column {
        width: 380px;
    }
    .activities__column:first-child {
        margin-left: 260px;
    }
}

/* huge desktops */
@media (min-width: 1800px) {
    main {
        width: 75vw;
        margin: 0 auto;
        grid-template-columns: 1000px 1fr;
    }
    .card__plans {
        right: -180px;
    }
    .activities {
        width: 75vw;
        margin: 10rem auto 0;
    }
}
