body {
    overflow: hidden;
}

main {
    width: 100%;
    height: calc(100vh - var(--margin-optimized) - var(--margin));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects__list {
    width: 45vw;
    font-size: 2.4vw;
}

.projects__list a {
    transition: font-variation-settings 0.3s;
}

.projects__list a:hover {
    font-variation-settings: 'wght' var(--font-bold);
}

.projects__list a.link--active {
    font-variation-settings: 'wght' var(--font-bold);
}

.project__card {
    --margin-card: calc(var(--margin) / 2);
    position: absolute;
    top: -40vmin;
    left: 50vw;
    width: calc(30vmin - var(--margin-card) * 2);
    height: calc(30vmin - var(--margin-card) * 2);
    padding: var(--margin-card);
    cursor: grab;
    border: 1px solid var(--color-dark);
    border-radius: 2px;
    box-shadow: 0px 4px 8px rgba(100,100,100,0.5);
    background-color: var(--color-light);
    transform-origin: center;
    transition-property: left, top, transform;
    transition-duration: 0.7s;
    transition-timing-function: ease;
}

.project__card.card--moving {
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    cursor: grabbing;
}

.project__card img {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border: 1px solid #ebebeb;
    pointer-events: none;
}