body {
    overflow: hidden;
}

main {
    width: 100%;
    height: calc(100vh - var(--margin-optimized) - var(--margin));
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects__container {
    display: grid;
    grid-template: 1fr / 1fr 45vw 1fr;
}

.projects__container h5 {
    margin-top: calc(4.8vmin - 18px);
    padding: 0 var(--margin);
    text-align: right;
}

.projects__list {
    font-size: 4.8vmin;
}

.projects__list a {
    transition: font-variation-settings 0.3s;
}

.projects__list a:hover {
    font-variation-settings: 'wght' var(--font-bold);
}

.projects__list a.link--active {
    font-variation-settings: 'wght' var(--font-bold);
}

.project__card {
    --margin-card: calc(var(--margin) / 2);
    position: absolute;
    top: -40vmin;
    left: 50vw;
    width: calc(30vmin - var(--margin-card) * 2);
    height: calc(30vmin - var(--margin-card) * 2);
    padding: var(--margin-card);
    cursor: grab;
    border: 1px solid var(--color-dark);
    border-radius: 2px;
    box-shadow: 0px 4px 8px rgba(85,85,85,50);
    background-color: var(--color-light);
    transform-origin: center;
    transition-property: left, top;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.project__card.card--moving {
    transition: none;
    cursor: grabbing;
}

.project__card img {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border: 1px solid #ebebeb;
    pointer-events: none;
}