body {
    --content-width: calc(100vw - var(--margin) * 2);
    background-color: var(--color-light);
}

header {
    width: 100%;
    min-height: calc(100vh - var(--margin-optimized) * 2 - 0.8rem);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.header__container {
    width: var(--content-width);
}

h1 {
    font-size: 2rem;
    font-variation-settings: 'wght' var(--font-regular);
    margin: 0;
}

h2 {
    font-size: 1.3rem;
    font-variation-settings: 'wght' var(--font-regular);
    margin: 0 0 1.2rem;
}

.info__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-top: 1px solid var(--color-dark);
    min-height: 140px;
    margin-bottom: 2rem;
}

.info {
    width: calc(50% - 0.5rem);
}

.info h3 {
    margin: 1.2rem 0 0.3rem;
}

.info p {
    margin: 0.1rem 0;
}

.project__link {
    font-size: 1rem;
    padding: 0.5rem 0.8rem;
    display: block;
    text-align: center;
}

.project__link::after {
    content: " \2197";
}

.external--link {
    position: relative;
    border: 1px solid var(--color-dark);
    border-radius: 2px;
}

.external--link.link--thick {
    border: 2px solid var(--color-dark);
}

.external--link:hover {
    background-color: var(--color-dark);
    color: var(--color-light);
}

.project__summary {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 4rem 0 3rem;
}

.summary__container {
    width: var(--content-width);
}

.summary__container p {
    max-width: 1280px;
    font-size: 5.9vw;
    font-style: italic;
    line-height: 1.3;
}

.summary__container a {
    padding: 0 0.5rem;
}

.summary__container .project__video {
    max-width: 1280px;
    padding-top: 3rem;
}

.summary__container video {
    width: 100%;
    border: 1px solid var(--color-dark);
    box-shadow: 0 4px 8px rgba(142,142,142,0.5);
    border-radius: 2px;
}

.project__content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.section__title h3 {
    margin-top: 1.55rem;
    padding-top: 1.2rem;
    border-top: 1px solid var(--color-dark);
}

.section__body {
    width: var(--content-width);
}

.section__body p {
    margin: 0.3rem 0;
    width: 100%;
    font-size: 1rem;
    line-height: 1.4;
}

.section__body p.paragraph--new {
    margin-top: 0.8rem;
}

.section__body p.paraghraph--spacer {
    margin-bottom: 1.2rem;
}

.section__body a {
    padding: 0 0.3rem;
}

.section__body ul {
    width: calc(100% - 2rem);
    margin: 1.2rem 0;
    padding-left: 2rem;
    list-style-type: '\25CB';
}

.section__body li {
    padding-left: 1rem;
    margin: 0.6rem 0;
    line-height: 1.4;
}

.section__body .project__video {
    max-width: 1280px;
    margin: 2rem 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.section__body .project__image {
    width: 100%;
    max-width: 1280px;
    margin: 2rem 0;
    border: 1px solid var(--color-dark);
    box-shadow: 0 4px 8px rgba(142,142,142,0.5);
    border-radius: 2px;
}

.section__body video {
    width: 100%;
    display: block;
    border: 1px solid var(--color-dark);
    box-shadow: 0 4px 8px rgba(142,142,142,0.5);
    border-radius: 2px;
}

footer {
    width: 100%;
    margin-top: 8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.pagination__container {
    width: var(--content-width);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

a .pagination__text {
    font-variation-settings: 'wght' var(--font-regular);
    -webkit-transition: font-variation-settings 0.3s;
    transition: font-variation-settings 0.3s;
}

a:hover .pagination__text {
    font-variation-settings: 'wght' var(--font-bold);
}

a .pagination__arrow {
    position: relative;
    top: 0;
    left: 0;
    font-variation-settings: 'wght' var(--font-regular);
    -webkit-transition: font-variation-settings 0.3s, left 0.3s ease;
    transition: font-variation-settings 0.3s, left 0.3s ease;
}

a.pagination__left:hover .pagination__arrow {
    font-variation-settings: 'wght' var(--font-bold);
    left: -4px;
}

a.pagination__right:hover .pagination__arrow {
    font-variation-settings: 'wght' var(--font-bold);
    left: 4px;
}

/* very small devices */
@media (max-width: 320px) {
    h1 {
        margin-top: 8rem;
    }
    
}

/* big phones */
@media (min-width: 576px) {
    header {
        height: calc(100vh - var(--margin-optimized) * 2 - 0.8rem);
        min-height: 0px;
    }
    h1 {
        font-size: 3.3rem;
    }
    h2 {
        font-size: 1.6rem;
    }
    .project__link {
        font-size: 1.6rem;
        display: inline;
        text-align: left;
    }
    .project__link::after {
        content: "";
    }
    .project__summary {
        margin: 6rem 0;
    }
    .summary__container p {
        font-size: 1.75rem;
    }
}

/* tablets */
@media (min-width: 768px) {
    body {
        --content-width: 80vw;
    }
    header {
        height: calc(80vh - var(--margin-optimized) * 2 - 0.8rem);
    }
    .info__container {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    }
    .info {
        width: calc(var(--content-width) / 4 - 0.5rem);
    }
    .summary__container p {
        font-size: 1.85rem;
    }
    .project__content {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }
    .section__title h3 {
        padding-right: 1.4rem;
        padding-top: 0;
        border-top: none;
    }
    .section__body {
        padding-top: 1.2rem;
        border-top: 1px solid var(--color-dark);
    }
    .section__body p {
        width: 610px;
    }
    .section__body ul {
        width: calc(610px - 3rem);
        padding-left: 3rem;
    }
}

/* desktops */
@media (min-width: 992px) {
    body {
        --content-width: 75vw;
    }
    header {
        height: calc(70vh - var(--margin-optimized) * 2 - 0.8rem);
    }
    h1 {
        font-size: 4.1rem;
    }
    h2 {
        font-size: 1.8rem;
        margin: 0 0 1.8rem;
    }
    .project__link {
        font-size: 1.8rem;
    }
    .summary__container p {
        font-size: 2.1rem;
    }
}

/* big desktop */
@media (min-width: 1200px) {
    body {
        --content-width: 70vw;
    }
    header {
        height: calc(100vh - var(--margin-optimized) * 2 - 0.8rem);
    }
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 2rem;
    }
    .project__link {
        font-size: 2rem;
    }
    .summary__container p {
        font-size: 2.5rem;
    }
    .section__title h3 {
        margin-top: calc(1.55rem + 0.2vw);
        font-size: 1vw;
    }

    .section__body p {
        width: 45vw;
        font-size: 1.2vw;
    }

    .section__body ul {
        width: calc(45vw - 3rem);
    }

    .section__body li {
        font-size: 1.2vw;
    }
}

/* huge desktop */
@media (min-width: 1800px) {
    header {
        height: calc(80vh - var(--margin-optimized) * 2 - 0.8rem);
    }
    .info__container {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }
    .info {
        width: calc(1280px / 4);
        margin-right: 0.5rem;
    }
    .section__title h3 {
        margin-top: 1.7rem;
        font-size: 1.1rem;
    }

    .section__body p {
        width: 860px;
        font-size: 1.3rem;
    }

    .section__body ul {
        width: calc(860px - 3rem);
        margin: 1.6rem 0;
        padding-left: 3.5rem;
    }

    .section__body li {
        font-size: 1.3rem;
    }
}