<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.title }}</title>
        <meta name="description" content="Interaction and information designer from Milan, Italy. Loves coding and folk tales.">
        <meta property="og:title" content="Michele Invernizzi - Portfolio">
        <meta property="og:description" content="Interaction and information designer from Milan, Italy. Loves coding and folk tales.">
        <meta property="og:image" content="https://micheleinvernizzi.com/assets/images/image-social.jpg">
        <meta property="og:url" content="https://micheleinvernizzi.com/">
        <meta name="twitter:card" content="summary_large_image">
        <link type="text/css" rel="stylesheet" href="{{ 'assets/css/master.css' | relative_url }}">
        {% if page.url == '/' %}
        <link type="text/css" rel="stylesheet" href="{{ 'assets/css/home.css' | relative_url }}">
        {% elsif page.layout == 'project' %}
        <link type="text/css" rel="stylesheet" href="{{ 'assets/css/project.css' | relative_url }}">
        {% else %}
        <link type="text/css" rel="stylesheet" href="{{ 'assets/css/about.css' | relative_url }}">
        {% endif %}
        <link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/images/favicon-32.png' | relative_url }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/images/favicon-16.png' | relative_url }}">
        <link rel="shortcut icon" href="{{ 'assets/images/favicon.ico' | relative_url }}">
        {% if page.layout == 'default' %}
        <script src="https://code.jquery.com/jquery-3.4.0.slim.min.js" integrity="sha256-ZaXnYkHGqIhqTbJ6MB4l9Frs/r7U4jlx7ir8PJYBqbI=" crossorigin="anonymous" defer></script>
        <script src="{{ 'assets/js/utils.js' | relative_url }}" defer></script>
        {% if page.url == '/' %}
        <script src="{{ 'assets/js/home.js' | relative_url }}" defer></script>
        {% else %}
        <script src="{{ 'assets/js/about.js' | relative_url }}" defer></script>
        {% endif %}
        {% else %}
        <script src="{{ 'assets/js/project.js' | relative_url }}" defer></script>
        {% endif %}
        <script src="{{ 'assets/js/base.js' | relative_url }}" defer></script>
    </head>
    <body>
        {% assign page_layout = page.layout %}
        {% assign page_title = page.title %}
        {% include navigation.html layout=page_layout title=page_title %}
        {{ content }}
    </body>
</html>